<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.cuisy.visionappprj"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- &lt;!&ndash; 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 &ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->
    <!-- &lt;!&ndash; 获取WiFi网络状态的信息 &ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> -->
    <application
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme"
        android:label="@string/app_name">
        <activity
            android:name=".view.GuideActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity">
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/Setting">
        </activity>

        <service
            android:name=".timerService.Timer"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.TreeNodeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="设备列表">
        </activity>

        <activity android:name=".slide.SlideActivity">
        </activity>
    </application>

</manifest>